<div class="user-card">
  <div class="user-image">
      <img src="<%= user.photo %>" alt="<%= user.name %>">
  </div>
  <div class="user-info">
      <h1><%= user.name %></h1>
      <span class="flex-right">Number of posts: <%= user.post_counter %></span>
  </div>
</div>